body {
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
  background-image: url({{ url_for('static', filename='/css/bg.png') }});
}
 
