
html {
  background-image: url('https://165.227.113.189:8888/files/sridevi-tdi/static/css/bg.png');
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-opacity: 0.5;}
}
 
