<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <!-- <link rel="icon" href="favicon.ico"> -->

		<title>Recipe Lookup</title>

    <!-- Bootstrap core CSS -->
        <title>Embed Demo</title>

            {{ js_resources|indent(4)|safe }}

            {{ css_resources|indent(4)|safe }}

            {{ plot_script|indent(4)|safe }}

        <style>
        input{
           background-color: green;
           } 

        option{
            background-color: lightblue;
            }
        </style>
    </head>

    <body>
		<div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Recipe Lookup</h2>
          <ul>
            <title>Embed Demo</title>
          </ul>
        </div>
      </div>
		</div>

    <title>Plot goes here</title>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    <form name="text_button" method='GET'>
        <br>
        <br>
        <fieldset>
        <legend>Allergic to:</legend>
        <input type="checkbox" name="milk" value="_milk" ulign="left" unchecked>
        Milk
        <br>
        <input type="checkbox" name="eggs" value="_eggs" ulign="left" unchecked>
        Eggs
        <br>
        <input type="checkbox" name="peanuts" value="_pnut" ulign="left" unchecked>
        Peanuts
        <br>
        <input type="checkbox" name="treenuts" value="_tnuts" ulign="left" unchecked>
        Treenuts
        <br>
        <input type="checkbox" name="soy" value="_soy" ulign="left" unchecked>
        Soy
        <br>
        <input type="checkbox" name="wheat" value="_wheat" ulign="left" unchecked>
        Wheat
        <br>
        <input type="checkbox" name="fish" value="_fish" ulign="left" unchecked>
        Fish
        <br>
        <input type="checkbox" name="sfish" value="_sfish" ulign="left" unchecked>
        Shellfish
        <br>
        <input type="checkbox" name="sesame" value="_sesame" ulign="left" unchecked>
        Sesame
        <br>
        </fieldset>
        <br>
        <br>
        <fieldset>
        <legend>Preferences</legend>
        <br>
        Cook Time
        <br>
        <select name="Item_1">
        <option value="le15" ulign="right">under 15 minutes</option>
        <option value="le30" ulign="right">under 30 minutes</option> 
        <option value="le45" ulign="right">under 45 minutes</option>
        <option value="le60" ulign="right">under 60 minutes</option>
        <option value="gt60" ulign="right">over an hour</option>
        </select>
        Rating
        <br>
        <select name="Item_2">
        <option value="ge4" ulign="right">4+ stars</option>
        <option value="ge3" ulign="right">3+ stars</option> 
        <option value="ge2" ulign="right">2+ stars</option>
        <option value="ge1" ulign="right">1+ stars</option>
        <option value="ge0" ulign="right">0+ stars</option>
        </select>
        Level
        <br>
        <select name="Item_3">
        <option value="ea" ulign="right">Easy</option>
        <option value="me" ulign="right">Medium</option>         
        <option value="di" ulign="right">Difficult</option>
        </select>
        </fieldset>
        <br>
        <button type="submit" ualign="center">Submit</button>
    </form>
    {{ plot_div|indent(4)|safe }}
	</body>
</html>
