<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

		<title>Recipe Data Lookup</title>

    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
    rel="stylesheet" type="text/css">
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
    rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>
    <title>Embed Demo</title>

            {{ js_resources|indent(4)|safe }}

            {{ css_resources|indent(4)|safe }}
        </head>
	<body bgcolor="#E6E6FA">
		<div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2><b><i>Bon Appetit!!!</i></b></h2>
          <ul>
            <title>Embed Demo</title>
          </ul>
        </div>
      </div>
		</div>

    <title>Plot goes here</title>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <form name="myform" method = 'GET'>
        <br>
        <br>
        <fieldset>

        <legend>Allergic to:</legend>
        <input type="checkbox" name="milk" value="_milk" ulign="left" unchecked>
        Milk
        <br>
        <input type="checkbox" name="eggs" value="_eggs" ulign="left" unchecked>
        Eggs
        <br>
        <input type="checkbox" name="peanuts" value="_pnut" ulign="left" unchecked>
        Peanuts
        <br>
        <input type="checkbox" name="treenuts" value="_tnuts" ulign="left" unchecked>
        Treenuts
        <br>
        <input type="checkbox" name="soy" value="_soy" ulign="left" unchecked>
        Soy
        <br>
        <input type="checkbox" name="wheat" value="_wheat" ulign="left" unchecked>
        Wheat
        <br>
        <input type="checkbox" name="fish" value="_fish" ulign="left" unchecked>
        Fish
        <br>
        <input type="checkbox" name="sfish" value="_sfish" ulign="left" unchecked>
        Shellfish
        <br>
        <input type="checkbox" name="sesame" value="_sesame" ulign="left" unchecked>
        Sesame
        <br>

        </fieldset>
        <br>
        <fieldset>
        <legend>Preferences</legend>
        <br>
        <div class='input preferences'>
        <div class='input'>
        Cook Time
        <br>
         <select name="Item_1" align='left'>
        <option value="le15" ulign="right">under 15 minutes</option>
        <option value="le30" ulign="right">under 30 minutes</option>
        <option value="le45" ulign="right">under 45 minutes</option>
        <option value="le60" ulign="right">under 60 minutes</option>
        <option value="gt60" ulign="right">over an hour</option>
        </select>
        </div>
        <div class='input'>
        Level
        <br>
        <select class='input' name="Item_3" align='right'>
        <option value="ea" ulign="right">Easy</option>
        <option value="me" ulign="right">Medium</option>
        <option value="di" ulign="right">Difficult</option>
        </select>
        </div>
        <div class='input'>
        Rating
        <br>
        <select class='input' name="Item_2" align='center'>
        <option value="ge4" ulign="right">4+ stars</option>
        <option value="ge3" ulign="right">3+ stars</option>
        <option value="ge2" ulign="right">2+ stars</option>
        <option value="ge1" ulign="right">1+ stars</option>
        <option value="ge0" ulign="right">0+ stars</option>
        </select>
        </div>
        </div>
        </fieldset>
        <br>

        <div class="input submit">
            <input type="submit" value="submit">
        </div>
        <br>
        <br>
        <legend><p> Results: </p></legend>
        {% for url,title in _urls %}
         <p><a href={{ url }}><i>title</i></p>
        {% endfor %}
        <br> 
   </form>
      <br>
      <br>
      <br>
       <br>
     <footer>
      <p><img src="https://165.227.113.189:8888/files/sridevi-tdi/templates/FN.png" width="100" height="80" alt="Food Network Icon">
Powered by <a href="http://www.foodnetwork.com"><i>food network</i></p>
    </footer>
    	</body>
</html>
