<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

		<title>Stock Data Lookup</title>

    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
    rel="stylesheet" type="text/css">
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
    rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>
    <title>Embed Demo</title>

            {{ js_resources|indent(4)|safe }}

            {{ css_resources|indent(4)|safe }}

            {{ plot_script|indent(4)|safe }}

        </head>
	<body>
		<div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Ticker Lookup app</h2>
          <ul>
            <title>Embed Demo</title>
          </ul>
        </div>
      </div>
		</div>

    <title>Plot goes here</title>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    <form name="text_button" method='GET'>
        <br>
        Ticker Symbol:
        <input type="text" name="_tick" value="{{ _tick }}">
        <br>
        <input type="checkbox" name="check" value="1" checked>
        Opening Price
        <br>
        <input type="checkbox" name="check" value="2" checked>
        Closing Price
        <br>
        <input type="checkbox" name="check" value="3" checked>
        Adjusted Opening Price
        <br>
        <input type="checkbox" name="check" value="4" checked>
        Adjusted Closing Price
        <br>
        <button type="submit">Submit</button>
    </form>
    {{ plot_div|indent(4)|safe }}
	</body>
</html>
